html, body {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1024px;
  margin: 40px auto;
}

.about {
  display: inline-block;
  width: 200px;
  margin: 120px 40px 0 0;
}

.about__company,
.about__goal {
  font: 14px "OpenSans-Regular", sans-serif;
}

.content {
  display: inline-block;
  vertical-align: top;
}

.navigation {
  border-radius: 8px;
  box-shadow: 0px 1px 1px 1px rgba(168,168,168,.6);
  padding: 25px;
  margin: 0 0 60px 0;
  text-align: center;
}

.navigation__link {
  margin: 0 30px 0 0;
  font: 14px "OpenSans-Regular", sans-serif;
}

.navigation__link:last-child {
  margin: 0;
}

.navigation__link._personal {
  color: #8b00a4;
}

.navigation__link._section1 {
  color: #14731b;
}

.navigation__link._section2 {
  color: #41bcf8;
}

.navigation__link._section3 {
  color: #ee6e00;
}

.navigation__link._section4 {
  color: #333333;
}

.navigation__link._section5 {
  color: #db3c00;
}

.progress-indicators {
  list-style: none;
  display: inline-block;
  padding: 0;
  font-size: 0;
}

.progress-indicators__item {
  display: inline-block;
  min-width: 90px;
  box-shadow: inset 0px 2px 5px 0px rgba(153,153,153,1);
  text-align: center;
  color: #fff;
  font-style: italic;
  font-size: 14px;
  margin: 0 2px 0 0;
}

.info-form__heading {
  display: inline-block;
  margin: 0 30px 0 0;
  font: bold 22px "OpenSans-Regular", sans-serif;
}

.info-form {
  margin: 0 0 40px 0;
}

.progress-indicators__item:first-child {
  border-radius: 4px 0 0 4px;
}

.progress-indicators__item:last-child {
  border-radius: 4px 0 0 4px;
}

.progress-indicators__item._done {
  background: #3bad19;
}

.progress-indicators__item._active {
  background: #9fd206;
}

.progress-indicators__item._inactive {
  background: #f6f6f6;
  color: #7b7b7b;
}

.info-form__section {
  font: italic 14px "OpenSans-Light", sans-serif;
  color: #7a7a7a;
  overflow: hidden;
}

.info-form__section:after {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #7a7a7a;
  vertical-align: middle;
  width: 100%;
  margin: 0 -100% 0 4px;
}

.change-name {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
}

.change-name__item {
  display: inline-block;
  padding: 4px 8px 4px 8px;
  border-radius: 8px;
}

.change-name__checkbox {
  display: none;
}

.change-name__label {
  border-bottom: 1px dashed #000;
  cursor: pointer;
  font: 14px "OpenSans-Regular", sans-serif;
}

.change-name__item._active {
  background: #9fd206;
}

.change-name__item._active .change-name__label {
  border: 0;
  color: #fff;
}

.change-gender {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
}

.change-gender__item {
  display: inline-block;
  padding: 4px 8px 4px 8px;
  border-radius: 8px;
}

.change-gender__checkbox {
  display: none;
}

.change-gender__label {
  border-bottom: 1px dashed #000;
  cursor: pointer;
  font: 14px "OpenSans-Regular", sans-serif;
}

.change-gender__item._active {
  background: #9fd206;
}

.change-gender__item._active .change-gender__label {
  border: 0;
  color: #fff;
}

.user-form__section {
  border: 0;
  margin: 0 0 30px 0;
  padding: 0;
}

.user-form__label {
  display: inline-block;
  margin: 0 40px 0 0;
  font: bold 12px "OpenSans-Regular", sans-serif;
}

.user-form__label:last-child {
  margin: 0;
}

.user-form__input {
  display: block;
  margin: 10px 0 0 0;
}

.user-form__select {
  display: block;
  margin: 10px 0 0 0;
}

.user-form__select._date {
  display: inline-block;
}

.user-form__label._location,
.user-form__input._location {
  width: 100%;
}

.user-form__span {
  display: block;
  font: 12px "OpenSans-Light", sans-serif;
  color: #7a7a7a;
  margin: 10px 0 0 0;
}

.user-form__section._buttons {
  background: #f2f2f2;
  min-height: 65px;
}

.user-form__button {
  min-height: 36px;
  min-width: 120px;
  color: #fff;
  font: 14px "OpenSans-Regular", sans-serif;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 18px;
}

.user-form__button:hover {
  opacity: .8;
}

.user-form__button._active {
  background: linear-gradient(to bottom, #a2d605, #9cce05);
}

.user-form__button._inactive {
  background: linear-gradient(to bottom, #bfbfbf, #a7a7a7);
}

.user-form__icon {
  display: inline-block;
  min-width: 22px;
  min-height: 22px;
  vertical-align: middle;
}

.user-form__icon._inactive {
  background: url("../assets/icons/left-arrow.svg") center/22px 22px no-repeat;
}

.user-form__icon._active {
  background: url("../assets/icons/right-arrow.svg") center/22px 22px no-repeat;
}