<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="styles/default.css" rel="stylesheet">
		<title>Index Page</title>
	</head>
	<body>
		<div class="wrapper">
			<div class="about">
				<p class="about__company">
					*TutuRu - крупнейший сервис
					поиска, бронирования и покупки авиабилетов и ж/д билетов.
				</p>

				<p class="about__goal">
					Наша цель проста - делать наших
					клиентов счастливыми, а их
					путешествия незабываемыми.
					Любое путешествие начинается с поиска билетов и
					бронирования гостиниц.
					А мы делаем это качественно,
					обеспечивая самую лучшую
					поддержку благодаря
					собственному контакт-центру.
				</p>
			</div>

			<div class="content">
				<nav class="navigation">
					<a class="navigation__link _personal" href="#">
						Личный кабинет
					</a>
					<a class="navigation__link _section1" href="#">
						Раздел 1
					</a>
					<a class="navigation__link _section2" href="#">
						Раздел 2
					</a>
					<a class="navigation__link _section3" href="#">
						Раздел 3
					</a>
					<a class="navigation__link _section4" href="#">
						Раздел 4
					</a>
					<a class="navigation__link _section5" href="#">
						Раздел 5
					</a>
				</nav>

				<div class="info-form">
					<h1 class="info-form__heading">
						Заполните форму
					</h1>

					<ul class="progress-indicators">
						<li class="progress-indicators__item _done">
							1
						</li>

						<li class="progress-indicators__item _done">
							2
						</li>

						<li class="progress-indicators__item _active">
							3
						</li>

						<li class="progress-indicators__item _inactive">
							4
						</li>

						<li class="progress-indicators__item _inactive">
							5
						</li>
					</ul>
					<h1 class="info-form__section">
						Общая информация
					</h1>
				</div>

				<form class="user-form">
					<fieldset class="user-form__section">
						<label class="user-form__label">
							Фамилия
							<input class="user-form__input" type="text" />
						</label>
						<label class="user-form__label">
							Имя
							<input class="user-form__input" type="text" />
						</label>
						<label class="user-form__label">
							Отчество
							<input class="user-form__input" type="text" />
						</label>
					</fieldset>
					<fieldset class="user-form__section">
						<label class="user-form__label">
							Меняли фамилию?
							
							<ul class="change-name">
								<li class="change-name__item">
									<input type="checkbox" class="change-name__checkbox" id="checkbox2" checked="checked" />
									<label for="checkbox2" class="change-name__label">Да</label>
								</li>
								<li class="change-name__item _active">
									<input type="checkbox" class="change-name__checkbox" id="checkbox1" checked="checked" />
									<label for="checkbox1" class="change-name__label">Нет</label>
								</li>
							</ul>
						</label>
						<label class="user-form__label">
							Пол
							
							<ul class="change-gender">
								<li class="change-gender__item _active">
									<input type="checkbox" class="change-gender__checkbox" id="checkbox3" checked="checked" />
									<label for="checkbox3" class="change-gender__label">Муж</label>
								</li>
								<li class="change-gender__item">
									<input type="checkbox" class="change-gender__checkbox" id="checkbox4" checked="checked" />
									<label for="checkbox4" class="change-gender__label">Жен</label>
								</li>
							</ul>
						</label>
						<label class="user-form__label">
							Семейное положение
							<select class="user-form__select">
        						<option value="1">Женат / Замужем</option>
      						</select>
						</label>
					</fieldset>
					<fieldset class="user-form__section">
						<label class="user-form__label">
							Гражданство
							<select class="user-form__select">
        						<option value="1">Российская федерация</option>
      						</select>
						</label>
						<label class="user-form__label">
							Дата рождения

							<div class="user-form__selects">
								<select class="user-form__select _date">
	        						<option value="1">1</option>
	        						<option value="2">2</option>
	        						<option value="3">3</option>
	        						<option value="4">4</option>
	        						<option value="11" selected="">11</option>
      							</select>
	      						<select class="user-form__select _date">
	        						<option value="1">Январь</option>
	        						<option value="2">Февраль</option>
	        						<option value="3">Март</option>
	        						<option value="4">Апрель</option>
	        						<option value="4">Май</option>
	        						<option value="11" selected="">Июнь</option>
	      						</select>
	      						<select class="user-form__select _date">
	        						<option value="1">1965</option>
	        						<option value="2">1966</option>
	        						<option value="3">1967</option>
	        						<option value="4">1968</option>
	        						<option value="4">1969</option>
	        						<option value="11" selected="">1970</option>
	      						</select>
							</div>
						</label>
					</fieldset>
					<fieldset class="user-form__section">
						<label class="user-form__label _location">
							Место рождения
							<input class="user-form__input _location" type="text" />
							<span class="user-form__span">Например, Россия, Комсомольск на Амуре</span>
						</label>
					</fieldset>
					<fieldset class="user-form__section _buttons">
						<button type="submit" class="user-form__button _inactive">
							<span class="user-form__icon _inactive"></span> Назад
						</button>
						<button type="submit" class="user-form__button _active">
							Вперед <span class="user-form__icon _active"></span>
						</button>
					</fieldset>
				</form>
			</div>
		</div>
	</body>
</html>